parameters:
    level: 8
    bootstrapFiles:
        - %rootDir%/../../../tests/bootstrap.php
    paths:
       - %rootDir%/../../../Brianvarskonst
       - %rootDir%/../../../tests
    checkMissingIterableValueType: false
includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
